<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Boot - Index</title>
</head>
<body>
<h1 th:text="'Que legal! Sua cor favorita é ' + ${cor}"></h1>
</body>

<style>
    body{
        background-color: #1d9bc2;
        font-family: 'Arial', sans-serif;font-size:25px;
    }
    b{
        color:red;
    }
    h1{
        color: black;
        margin: 15%;
    }
    p{
        color:blue;
    }

</style>

</html>